<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="dev">
        <springProperty name="appName" source="spring.application.name"/>

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    [%date{ISO8601}] %highlight(%-5level) [%X{correlationId}] [%12.12thread] [${appName}] %cyan(%-40.40logger{40}) : %message%n
                </pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!dev">
        <springProperty name="appName" source="spring.application.name"/>

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    [%date{ISO8601}] %-5level [%X{correlationId}] [%12.12thread] [${appName}] %-40.40logger{40} : %message%n
                </pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
