*{
	font-size: 2vh;
}

.wrapper{
	background-color: grey;
}

.page{
	padding:1%;
	background-image: url(./img/background.jfif);
	background-size: cover;
	background-position: center;
	width: 40%;
}

.first-page{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.second-page{
	position: absolute;
	left:33%;
	top:33%;
	z-index: 2;
}

.third-page{
	position: absolute;
	left:60%;
	top:0;
	z-index: 1;
}

.post-image{
	margin-bottom: 10px;
}

.post-image__image{
	border:3px solid white;
	background-size: cover;
	background-position: center;
	margin:auto;
}

.post-image__image_big{
	height:20vh;
	width:100%;
}

.post-image__image_medium{
	height:10vh;
	width:100%;
}

.post-image__image_small{
	height:8vh;
	width:100%;
}

.post-image__description{
	text-align: center;
	color: white
}

.menu{
	padding:1vh 3vw 1vh 0;
}

.menu_blue{
	background-color: #58add1;
}

.menu_white{
	background-color: grey;
}

.menu_white .menu__link{
	background-color: white;
	color:blue;
}

.menu_white .menu__link:hover{
	color:red;
}

.menu_blue .menu__link{
	background-color: #1f81af;
	color:white;
}

.menu_blue .menu__link:hover{
	background-color: #93c15f;
}

.menu__item{
	display: inline;
	height:7vh;
	line-height: 7vh;
	margin-right: 1vw;
	border-radius: 5px;
	padding:0;
}

.menu__link{
	display: block;
	text-decoration: none;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.menu__link:hover{
	text-decoration: none;
}

.post-block{
	border: 3px solid white;
	background-color: white;
}

.text-body{
	padding:0.01vh 0.5vw;
}

.text-body__image{
	height:15vh;
	width:60%;

	float: left;
	border:3px solid purple;
}

.post-block__link{
	display: block;
	text-decoration: underline;
}